.idea
docs
js/node_modules
js/bundle*js
inst/doc
inst/*.html
vignettes/*.html
vignettes/*.R
.V8history
import
tests/testthat/data
.Rproj.user
.Rhistory
package.json
package-lock.json
node_modules
test-results